/dts-v1/;
/plugin/;
/{
    // See http://kilobaser.com/blog/2014-07-28-beaglebone-black-devicetreeoverlay-generator

    compatible = "ti,beaglebone", "ti,beaglebone-black";
    part-number = "rap0";

    exclusive-use =
        "P9.22", "spi0_sclk",
        "P9.17", "spi0_d0",
        "P9.18", "spi0_d1",
        "P9.17", "spi0_cs0",
        "P9.12", "gpio1_28",
        "P9.15", "gpio1_16",
        "P9.23", "gpio1_17",
        "P9.25", "gpio3_21",
        "P9.27", "gpio3_19",
        "P9.30", "gpio3_16";

    fragment@0 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            rap0_pins_s0: rap0_pins_s0 {
                pinctrl-single,pins = <
                    0x150 0x30 /* spi0_sclk, INPUT_PULLUP    | MODE0 */
                    0x154 0x30 /* spi0_d0,   INPUT_PULLUP    | MODE0 */
                    0x158 0x10 /* spi0_d1,   OUTPUT_PULLUP   | MODE0 */
                    0x15c 0x10 /* spi0_cs0,  OUTPUT_PULLUP   | MODE0 */
                    0x078 0x07 /* gpio1_28,  OUTPUT_PULLDOWN | MODE7 */
                    0x040 0x07 /* gpio1_16,  OUTPUT_PULLDOWN | MODE7 */
                    0x044 0x07 /* gpio1_17,  OUTPUT_PULLDOWN | MODE7 */
                    0x1ac 0x07 /* gpio3_21,  OUTPUT_PULLDOWN | MODE7 */
                    0x1a4 0x07 /* gpio3_19,  OUTPUT_PULLDOWN | MODE7 */
                    0x198 0x07 /* gpio3_16,  OUTPUT_PULLDOWN | MODE7 */
                >;
            };
        };
    };
    fragment@1 {
        target = <&spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            pinctrl-names = "default";
            pinctrl-0 = <&rap0_pins_s0>;
            spidev@0 {
                // SPI settings
                spi-max-frequency = <24000000>;
                reg = <0>;
                // RAP settings
                rap-devname = "dda";
                rap-enbl-gpio = <60>; // 1.28 60
                rap-nrst-gpio = <48>; // 1.16 48
                rap-boot-gpio = <49>; // 1.17 49
                rap-int0-gpio = <117>; // 3.21 117
                rap-int1-gpio = <115>; // 3.19 115
                rap-int2-gpio = <112>; // 3.16
                // Driver
                compatible = "linux,rapdev";
            };
        };
    };
};
